doctype html
head
  link(rel='icon' type='image/png' sizes='16x16' href='../favicon/favicon-16x16.png')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='../css/boostrap-5.3/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  link(rel='stylesheet' href='../css/custom.css')
  title Register Ufarm
  style.
    body{
    background-image: url(../photos/photo14.jpg);
    background-size: cover;
    }
// Nav starts here
// <div w3-include-html="../includes/navbar.html"></div>
// Nav ends here
.container(style='margin-top: 120px')
  .row
    .col
    .col-7
      #signupcard.card(style='background-color:  rgba(255, 255, 255, 0);')
        #yo.card-header
          h1(style='text-align: center;') Register
        .card-body
           form#register.row.g-3(action='/edit_uf?id='+urbanfarmer._id  name='editUf' onsubmit='return Validate2(event);' method='POST')
            fieldset
              .col-md-11
                label.form-label(for='formGroupExampleInput')
                  h6 Full Name 
                input#name.form-control(type='text' name='fullname' placeholder='Enter your full Names' value=urbanfarmer.fullname disabled)
                small#nameErr
                br
              fieldset
                .col-md-11
                  label.form-label(for='inputCity')
                    h6  Unique ID 
                  input#FOid.form-control(type='text' placeholder='eg. FO-123' name='username' value=urbanfarmer.username disabled)
                  small#idErr
                  br
              .col-md-11
                label.form-label(for='inputdate4')
                  h6 Date Of Registration 
                input#DOR.form-control(type='date' name="dor" value=urbanfarmer.dor disabled)
                small#dorErr
                br
              .col-md-11
                label.form-label(for='inputdate4')
                  h6 Date Of Birth 
                input#DOB.form-control(type='date' name='dob' value=urbanfarmer.dob disabled)
                small#dobErr
            fieldset
              .col-md-11
                label.form-label(for='exampleFormControlTextarea1')
                  h6 Activities 
                textarea#activities.form-control(rows='3' name='activities' placeholder='Activities undertaken' value=urbanfarmer.activities)
                small#actErr
                br
              .col-md-11
                label.form-label(for='inputCity')
                  h6 NIN 
                input#nin.form-control(type='text' placeholder='Enter NIN number' name='nin' value=urbanfarmer.nin disabled)
                small#ninErr
            fieldset
              .col-md-11
                label.form-label(for='inputCity')
                  h6 Phone number 
                input#contact.form-control(type='text' placeholder='eg. 0756876022' name='phonenumber' value=urbanfarmer.phonenumber)
                small#contactErr
            .col-md-8
              label.form-label(for='inlineFormSelectPref')
                h6 Gender 
              select#gender.form-control(name='gender' value=urbanfarmer.gender disabled)
                option(value='Default' selected='') Select
                option(value='permanent')  Male
                option(value='temporary')  Female
              small#genderErr
            .col-md-8
              label.form-label(for='inlineFormSelectPref')
                h6 Ward 
              select#ward.form-control(name='ward' value=urbanfarmer.ward disabled)
                option(value='Default' selected='') Select
                option(value='1')  Ward 1
                option(value='2')  Ward 2
                option(value='3')  Ward 3
                option(value='4')  Ward 4
              small#wardErr
            .col-12
            .col-12
              button.btn.btn-success(type='submit' style='margin-left: 200px; width: 120px;') Register
            
    .col
// footer starts here
// <div w3-include-html="../includes/footer.html"></div>
// footer ends here
script(src='../css/boostrap-5.3/js/bootstrap.bundle.js')
script(src='../js/validate.js')
script(src='../js/custom.js')
