doctype html
head
  link(rel='icon' type='image/png' sizes='16x16' href='../favicon/favicon-16x16.png')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='../css/boostrap-5.3/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  link(rel='stylesheet' href='../css/custom.css')
  title U-Farm
// Nav starts here
div(w3-include-html='../includes/navbar.html')
// Nav ends here
.container-fluid(style='margin-top: 150px')
  .row
    .col-3
      .sidebar
        p
        h5(style='text-align: center; font-family:Trebuchet MS, Times, serif; color:rgb(0, 255, 106);')
          | Farmer One Dashboard
        p
        hr
        p
         a(href='/fodash' style="text-decoration: none; color:white")
          h6(style='text-align: center;')
            | Orders and Bookings 
            i.fa.fa-shop
        p
        hr
        p
        a(href='/ufinfo' style='text-decoration: none; color:white')
          h6(style='text-align: center;')
            |  Registered UF 
            i.fas.fa-user-friends
        p
        hr
        a(href='/uploadinfo' style='text-decoration: none; color:white')
          h6(style='text-align: center;')
            |  Uploads 
            i.fas.fa-arrow-alt-circle-up
        p
        hr
        p
        a(href='/help' style='text-decoration: none; color:white')
          h6(style='text-align: center;')
            | Help Center 
            i.far.fa-comment-dots
        p
        hr
        p
          form(action='logout' method='post')
            button(style='margin-left: 90px;' type='submit') Sign out 
        hr
        p(style='font-size: 10px; text-align: center; margin-top: 80px;')
          span(style='font-size: 15px;') Ufarm
          |  &copy; 2023
    .col-9
      // <h4>Dashboard <i class="fa fa-line-chart" style="font-size:24px"></i></h4>
      // <br>
      div(style='margin-top: -20px; margin-bottom: 160px;')
        #cards.card(style='width:55rem;  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3); text-align: center;  background-color:  rgb(23, 23, 31); border-radius: 14px;')
          .card-body
            h4.card-title(style='color: white;') Welcome
            h6(style='color: grey;')
              | Explore the dashboard to discover the newly uploaded products on the dashboard
              br

      h4(style='text-align: center;;') Uploaded Products
      table.table.table-striped.table-dark(style='margin-bottom: 100px; margin-top: 29px;')
        thead
          tr
            th(scope='col') Product
            th(scope='col') ID
            th(scope='col') Ward
            th(scope='col') Quantity
            th(scope='col') Contact 
            th(scope='col') Upload date
            th(scope='col') Unit price
            th(scope='col') Category
            th(scope='col') Action
        tbody
        if uploads.length
            each upload in uploads
                tr          
                   td #{upload.productname}
                    td #{upload.username}
                    td #{upload.ward}
                    td #{upload.quantity}
                    td #{upload.phonenumber}
                    td #{upload.date}
                    td #{upload.price}
                    td #{upload.category}
                    td 
                      form(action="/uploadinfo/delete" method='post') 
                        input(type="hidden" name='id' value= upload.id)
                        button.btn.btn-danger(type='submit') Delete  
                    
        else
            p there are no students in the database

// Nav starts here
//div(w3-include-html='../includes/footer.html')
// Nav ends here
script(src='../js/custom.js')
script(src='../css/boostrap-5.3/js/bootstrap.bundle.js')
